
<h1>

Peace & Harmony Foundation Inc (DBA Istanbul Center & Atlantic Institute), a non-profit organization that through a wide 
range of activities brings together local community members from various ethnic and religious backgrounds to facilitate 
dialogue and bridge cultures within our families, neighborhoods, community, city, state, nation and globe.

We believe in the power of personal interaction and communicative dialogue as the best channels for building mutual 
understanding, trust, and harmony for a peaceful world.

The organization was established by followers of the “Hizmet Movement” who are inspired by the ideas and activism of 
M. Fethullah Gulen as well as thinkers and activists like Mahatma Gandhi, Dr. Martin Luther King, Jr., Nelson Mandela, 
Mevlana Rumi, Mother Teresa and all who emphasize the importance of understanding, acceptance, inclusiveness, justice 
and nonviolent peacebuilding in achieving the Beloved Community.

</h1>